<header>
  <nav>
    <img src="./logo/logo.svg" alt="" />

    <div class="menu">
      <a href="">Œuvres</a>
      <a href="">Expositions</a>
      <a href="">À propos </a>
      <a href="">Contact</a>
    </div>
  </nav>

  <div class="header-selection">
    <div class="header-text">
      <h1 class="titre">Ramenons un peu d'AMORe dans nos villes</h1>
      <p class="description">
        Des formes numériques molles et sensibles s'insèrent dans l'architecture
        rigide. Une présence intérieure, là où l'on ne l'attend pas.
      </p>
    </div>
    <button class="header-btn">Voir les details du projet</button>
  </div>
</header>

<section class="hero">
  <section class="details">
    <h2>Détails du projet</h2>

    <section class="ligne un">
      <h3>Nom</h3>
      <p>Présence molle n°03</p>
    </section>

    <section class="ligne deux">
      <h3>Catégorie</h3>
      <p>Sculpture numérique / Intervention urbaine</p>
    </section>

    <section class="ligne trois">
      <h3>Services</h3>
      <p>
        Modélisation 3D (Blender) Intégration conceptuelle dans l’espace urbain
        Montage visuel et compositing d’image Design de forme émotionnelle
      </p>
    </section>

    <section class="ligne quatre">
      <h3>Année</h3>
      <p>2026</p>
    </section>
  </section>
</section>
