<header>
  <nav>
    <img src="./logo/logo.svg" alt="" />

    <div class="menu">
      <a href="">Œuvres</a>
      <a href="">Expositions</a>
      <a href="">À propos </a>
      <a href="">Contact</a>
    </div>
  </nav>

  <div class="header-selection">
    <div class="header-text">
      <h1 class="titre">Ramenons un peu d'AMORe dans nos villes</h1>
      <p class="description">
        Des formes numériques molles et sensibles s'insèrent dans l'architecture
        rigide. Une présence intérieure, là où l'on ne l'attend pas.
      </p>
      <div class="details-summary">
        <h2>Details du projet</h2>
        <div class="detail-row">
          <div class="key">Nom</div>
          <div class="value">Nébluline</div>
        </div>
        <div class="detail-row">
          <div class="key">Description</div>
          <div class="value">
            Forme organique bleue, fluide comme un tissu plié, posée au milieu
            d’un paysage rural.
          </div>
        </div>
        <div class="detail-row">
          <div class="key">Catégorie</div>
          <div class="value">Sculpture numérique / Intervention urbaine</div>
        </div>
        <div class="detail-row">
          <div class="key">Services</div>
          <div class="value">
            Modélisation 3D (Blender)<br />Intégration conceptuelle dans
            l’espace urbain<br />Montage visuel et compositing d’image<br />Design
            de forme émotionnelle
          </div>
        </div>
        <div class="detail-row">
          <div class="key">Année</div>
          <div class="value">2026</div>
        </div>
      </div>
    </div>
    <button class="header-btn">Voir les details du projet</button>
  </div>
</header>
