* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: #fffbf7;
  color: #101010;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 120px;

  font-family: "Albert Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.352px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background-image: url("../images/hero.jpg");
  height: 50vh;
  gap: 80px;
  background-size: cover; /* картинка растягивается */
  background-position: center; /* центрируется */
  background-repeat: no-repeat; /* не повторяется */
  color: #fffbf7;
}

nav {
  display: flex;
  padding: 30px 80px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  color: #fffbf7;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

a {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

h1 {
  font-size: 48px;
}

.hero {
  display: flex;
  padding: 0 200px;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  align-self: stretch;
}

.description {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.44px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.ligne {
  display: flex;
  padding-bottom: 16px;
  align-items: start;
  gap: 134px;
  align-self: stretch;
  border-bottom: 0.5px solid #101010;
}

.ligne.un {
  gap: 170px;
}

.ligne.deux {
  gap: 134px;
}

.ligne.trois {
  gap: 145px;
}

.ligne.quatre {
  gap: 159px;
}

h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 32px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 120px;
  align-self: stretch;
}

.section {
  display: flex;
  padding: 0 200px 0 80px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

h4 {
  opacity: 0.6;
  color: #101010;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.info {
  display: flex;
  width: 788px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.text-bio {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  display: flex;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #101010;
  color: #fffbf7;
  font-size: 20px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.expo {
  display: flex;
  padding: 0 80px 0 80px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  align-self: stretch;
}

.info-expo {
  display: flex;
  padding: 0 120px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  align-self: stretch;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.colone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.billet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 20px;
}

.details-billet {
  display: flex;
  width: 373px;
  align-items: center;
  gap: 65px;
}

.endroit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.date {
  display: flex;
  width: 38px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -5px;
  flex-shrink: 0;
}
.mois {
  font-weight: 300;
  text-transform: uppercase;
}

.jour {
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.lieu {
  overflow: hidden;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.pays {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.4;
}
