* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: #fffbf7;
  color: #101010;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 120px;
  font-family: "Albert Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.352px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  color: #fffbf7;
  position: relative;
  background-image: url("../images/hero.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  padding: 16px 80px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  color: #fffbf7;
  background-color: #101010;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

a {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

h1 {
  font-family: "Archivo", sans-serif;
  font-size: 44px;
}

.header-selection {
  position: absolute;
  left: 120px;
  bottom: 100px;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}

.header-btn,
.card-btn {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #768bce;
}

h1 {
  font-family: Archivo;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 48px */
}

.titre {
  color: #fffbf7;
  font-family: "Archivo", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 52.8px */
}

.description {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.44px;
}

.hero {
  display: flex;
  display: none;
  padding: 0 200px;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  align-self: stretch;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.ligne {
  display: flex;
  padding-bottom: 16px;
  align-items: start;
  gap: 134px;
  align-self: stretch;
  border-bottom: 0.5px solid #101010;
}

.ligne.un {
  gap: 170px;
}

.ligne.deux {
  gap: 134px;
}

.ligne.trois {
  gap: 145px;
}

.ligne.quatre {
  gap: 159px;
}

h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 32px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 120px;
  align-self: stretch;
}

.section {
  display: flex;
  padding: 0 200px 0 40px;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

h4 {
  opacity: 0.6;
  color: #101010;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  padding: 10px 0;
  align-items: center;
  gap: 10px;
  min-width: 220px;
}

.info {
  display: flex;
  width: 788px;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.text-bio {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  display: flex;
  min-width: 140px;
  display: flex;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #101010;
  color: #fffbf7;
  font-size: 20px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.oeuvres {
  padding: 120px 200px 120px 40px;
  background-color: #101010;
  color: #fffbf7;
  display: flex;
  padding: 120px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.oeuvres h4 {
  color: #fffbf7;
}

.gallery {
  display: flex;
  padding: 0 200px;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  height: 400px;
}

.gallery .card {
  background-image:
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 11.54%,
      rgba(16, 16, 16, 0.5) 70.67%,
      #101010 100%
    ),
    url("../images/galery/ball-in-city.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  display: flex;
  height: 100%;
  padding: 32px;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  flex: 1 0 0;
}

.cart img {
  width: 377px;
  height: auto;
}

.expo {
  display: flex;
  padding: 0 40px 0 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  align-self: stretch;
}

.info-expo {
  display: flex;
  padding: 0 120px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  align-self: stretch;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 120px;
}

.colone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.billet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
  gap: 20px;
}

.details-billet {
  display: flex;
  min-width: 300px;
  align-items: center;
  gap: 30px;
}

.endroit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.date {
  display: flex;
  width: 38px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -5px;
  flex-shrink: 0;
}
.mois {
  font-weight: 300;
  text-transform: uppercase;
}

.jour {
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.lieu {
  overflow: hidden;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.pays {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.4;
}

.footer {
  display: flex;
  padding: 60px 200px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 120px;
  background: #101010;
  color: #fffbf7;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.footer img {
  height: 64px;
}

.footer.footer-menu a {
  color: #fffbf7;
  font-family: "Albert Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer p {
  color: #fffbf7;
  font-family: "Albert Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
}

.footer-info {
  display: flex;
  align-items: flex-start;
  gap: 120px;
}

.footer-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-liens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 20px;
}
.footer-liens a {
  color: #fffbf7;
  font-family: "Albert Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
